<?xml version="1.0"?>
<model>
  <name>clifford</name>
  <version>1.0</version>
  <sdf version='1.4'>clifford.sdf</sdf>

  <author>
   <name>Sean Wang</name>
   <email>sjw2@andrew.cmu.edu</email>
  </author>

  <description>
    Clifford: A four wheeled robot with complex suspension and independant front and rear steering
  </description>
</model>
