<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="true"/>
    <!--<arg name="physics" value="dart"/>-->
    </include>
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
    <!--
  <node
    name="spawn_ground"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find clifford_sim)/models/ground/ground.sdf -sdf -model ground -z 0"
    output="screen" />-->
  <node
    name="spawn_clifford"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find clifford_sim)/models/cliffordClosedChain/cliffordClosedChain.sdf -sdf -model cliffordClosedChain -z 0.5"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>
